/*alert*/
/* The alert message box */
.ErrorBox_alert {
    padding: 20px;
    background-color: #f46717;
    color: white;
    margin-bottom: 15px;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left:0;
    right: 0;
}

/* The close button */
.ErrorBox_alertCloseBtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    cursor: pointer;
}

/* When moving the mouse over the close button */
.ErrorBox_alertCloseBtn:hover {
    color: black;
}