.circle
{
    width:50px;
    height:50px;
    border-radius:25px;
    font-size:50px;
    color:#fff;
    line-height:50px;
    text-align:center;
    background:#111
}

.Countdown{
    box-sizing: border-box;
    height: 30%;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
}

.Countdown_value{
    box-sizing: border-box;
    font-size: 5em;
    /*border-radius:25px;*/
    /*border: solid 10px black;*/
}