.BarChart{
    box-sizing: border-box;
    height: 350px;
    overflow: auto;
    padding-top: 20px;
    /*justify-content: center;*/
    align-items: center;
    display: flex;
    /*padding-left: 20px;*/
}

@media only screen and (min-width: 800px) {
    .BarChart{
        justify-content: center;
    }
}